.card {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    margin: 20px;
    height: 450px;
}

.card-header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.card-content {
    color: black;
}

.card-content p {
    height: 150px;
    margin: 0;
}

.add-button {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.card-button-remove {
    border-color: rgb(218, 94, 94);
    background-color: rgb(218, 94, 94);
}
