.character-card {
    width: 90%;
}

.card-img {
    padding: 0 10px;
    margin: auto;
    max-width: 450px;
}

.character-card img {
    width: 100%;
    border: 5px solid white;
}

@media (min-width: 400px) {
    .card-img {
        width: 60vw;
    }
}

@media (min-width: 768px) {
    .card-img {
        width: 40vw;
    }
    .card-description {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .card-img {
        width: 35vw;
    }

    .card-description {
        font-size: 24px;
    }
}

@media (min-width: 1300px) {
    .card-img {
        width: 40vw;
    }

    .card-description {
        font-size: 32px;
    }
}
