.character-card {
    width: 90%;
}

.card-img {
    padding: 0 10px;
    margin: auto;
    max-width: 450px;
}

.character-card img {
    width: 100%;
    border: 5px solid white;
}

#character-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-button {
    border-style: solid;
    border-width: 0.125rem;
    border-color: #0a7522;
    border-radius: 0.5rem;
    background-color: #0a7522;
    color: #fff;
    cursor:pointer;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1.5rem 4.93rem;
    text-align: center;
    transition: all .5s ease;
    margin: 0.3em;
}

.card-button:hover {
    border-color: #035014;
    background-color: #035014;
}

.card-button-remove:hover {
    border-color: #550101;
    background-color: #550101;
}

.card-button-disabled {
    border-style: solid;
    border-width: 0.125rem;
    border-color: #02250a;
    border-radius: 0.5rem;
    background-color: #02250a;
    color: #fff;
    cursor:pointer;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1.5rem 4.93rem;
    text-align: center;
    transition: all .5s ease;
    margin: 0.3em;
}

@media (min-width: 400px) {
    .card-img {
        width: 60vw;
    }
}

@media (min-width: 768px) {
    .card-img {
        width: 40vw;
    }
    .card-description {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .card-img {
        width: 35vw;
    }

    .card-description {
        font-size: 24px;
    }
}

@media (min-width: 1300px) {
    .card-img {
        width: 40vw;
    }

    .card-description {
        font-size: 32px;
    }
}
