.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.title {
    font-size: 4rem;
    text-align: center;
}

.paragraph {
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.button {
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: #0a7522;
    color: white;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}
  
.button:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}