#practice-view {
    width: 90%;
    margin: 0 auto;
}

.canvas-wrapper {
    display: flex;
    justify-content: center;
    align-items: top;
}

.right {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.bottom {
    width: 100%;
}

@media (min-width: 450px) {
    #practice-view {
        padding: 32px;
    }
}

@media (max-width: 450px) {
    #practice-view {
        padding-top: 32px;
    }
}
